<div id="edit_client_popup">
  <h3>New Owner /Tenant <button (click)="customerService.personclose()"type="button" id="close" name="button">Close</button></h3>
  <form class="edit_client_form" action="" method="">
    <input type="text"id="hi_test"required="required">
    <label id="star"for="input_req">Person name</label>
    <input type="text" id="input_req"name="" value="" required="required">
    <label id="star"for="input_req">Mobile no</label>
    <input style="width:82%"type="text" name="" value="" required="required">
    <label id= "email_label" for="input_req">Email address</label>
    <br><br>
    <input type="radio" name="owner_tenant" value="">
    <label for="">Owner</label>
    <input type="radio" name="owner_tenant" value="">
    <label for="">Tenant</label>
  </form>
  <br><br><br>
  <button class="Add_button_popup" type="button" name="button">Add</button>
<button class="Save_button_popup"type="button" name="button">Save</button>
</div>
