<div class="person_info_details">
<div class="society_details_innerdiv left2">
      </div>
      <div class="society_details_innerdiv right">
        <div class="person_info_details_name">
          NAME
          <button (click)="profileService.profileopen()"class="edit_society_details">
          Edit
          </button>
      </div>
      <p class="person_info_details_email">
    Email
      </p>
      <p class="person_info_details_phone">
    <br>  Phone
      </p>
  </div>
</div>




























































<div class="footer">
  <p>Developed by :- <a href="https://www.linkedin.com/in/dhiren-motwani-687775160/">Dhiren Motwani</a>& <a href="https://www.linkedin.com/in/roshan-devadiga-738aa4179/">Roshan Devadiga</a></p>
</div>
