<button (click)="invoiceService.prevpage()"class="back_button"type="button" name="button">&#8592;</button>

<div class="invoice_div">
        <div class="split left2">
          <p class="billing_heading">Billed From</p>
          <p>ADDRESS</p>
        </div>
        <div class="split right2">
          <p class="billing_heading">Billed To</p>
          <p>ADDRESS</p>
        </div>
        <div class="div_invoice_details">
          <p>Inovice Number</p>
          <div class="div_invoice_details_input">
            INV-5
          </div>
        </div>
        <div class="div_invoice_details">
          <p>Date of Issue</p>
          <div class="div_invoice_details_input">
            03/01/01
          </div>
        </div>
        <div class="div_invoice_details">
          <p>Due Date</p>
          <div class="div_invoice_details_input">
            03/01/01
          </div>
        </div>
        <div class="div_invoice_details">
          <p>Amount Paid</p>
          <div class="div_invoice_details_input">
            2000
          </div>
        </div>
        <table class="payment_details_table">
          <tr class="table_heading_particulars">
            <th style="width:30%;">PARTICULARS</th>
            <th style="width:12%;">MONTH</th>
            <th style="width:15%;">AREA</th>
            <th style="width:25%;">CHARGES/MONTH</th>
            <th style="width:25%;">TOTAL AMOUNT</th>
          </tr>
          <tr>
            <td>repairing</td>
            <td>1</td>
            <td>100</td>
            <td>40</td>
            <td>20000</td>
          </tr>
        </table>
        <table class="payment_type_table">
          <tr class="table_heading_particulars">
            <th style="width:50%">Payment type</th>
            <th style="width:50%">Amount</th>
            <th style="width:50%">Details</th>
          </tr>
        </table>
        <table class="total_table">
          <tr>
            <td class="table_heading_particulars">Sub Total</td>
            <td>25135</td>
          </tr>
          <tr>
            <td class="table_heading_particulars">Previous Due(Principle Amount)</td>
            <td>51614</td>
          </tr>
          <tr>
            <td class="table_heading_particulars">Advance Paid</td>
            <td>6531</td>
          </tr>
          <tr>
            <td class="table_heading_particulars">Penalty</td>
            <td>125</td>
          </tr>
          <tr>
            <td class="table_heading_particulars">Grand Total</td>
            <td>555</td>
          </tr>
        </table>
</div>
