table {
      position: absolute;
      border-collapse: collapse;
      overflow: auto;
      background-color: #fff;
      border-top: 1px solid #ddd;
    }
    th{
      text-align: center;
      padding: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }
    td {
      text-align: center;
      cursor: pointer;
      padding: 18px;
      border-top: 1px solid #ddd;
    }
    th span
    {
        display:block;
    }
    tr:nth-child(odd) {background-color: #fff;}
    #table-wrapper {
      position:absolute;
      left: 330px;
      width: 960px;
    }
    #table-scroll {
      /* position: absolute; */
      height:500px;
      overflow: hidden;
      margin-top:1%;
    }
    .back_button{
      position: fixed;
      left: 330px;
      top: 5%;
      background-color: inherit;
      border: none;
      font-size: 50px;
      }
      .back_button:hover{
        cursor: pointer;
      }
