<div class="button_toggle">
      <!-- account div start-->
        <div class="bank_details_div">
          <div class="bank_info_details_name">
          <p> Bank Details:</p> <button class="edit_bank_details">
              Edit
            </button>
            <div class="bank_account_details">
              <label for="">Account number</label><br>
              <input style="width:90%"type="text" name="" value=""><br>
              <label for="">Account Type</label><div class="space">

              </div><label class="ifsc_label"for="">IFSC Code</label>
              <br>
              <input style="width:40%"type="text" name="" value=""><input style="width:40%"type="text" name="" value="">
            </div>
          </div>
        </div>
        <div class="tax_details_div">
          Tax Details:
          <div class="tax_account_details">
            <label for="">GST number</label><br>
            <input type="text" name="" value="" placeholder="Is your Society LLP">
            <input type="text" name="" value="">
          </div>
        </div>
      <!-- account div end -->
    </div><br>
