<div id="edit_society_popup">
  <h3>Edit Manager <div class="space"><button (click)="profileService.profileclose()"type="button" id="close" name="button">Close</button></div></h3>
  <form class="edit_society_form" action="" method="">
    <span id="one">Society Name</span>
    <input type="text" id="hi_test" >
    <span id="two">Email address</span><span id="three">Phone Number</span><br>
    <input type="text" id="input_req"name="" value="" required="required">
    <input style="width:42%"type="text" name="" value="" required="required" >
    <br><br>
  </form>
<button class="Save_button_popup" type="submit" name="button">Save</button>
</div>
