<div id="prof_addr_popup">
  <h2>Address: <div class="space"><button type="submit" id="cancel" name="cancel">Cancel</button><button type="submit" id="cancel" name="button">Save</button> </div></h2>
   <div id="inner_box">
  <form class="prof_addr_form" action="" method="">
    <span id="one">Line 1</span>
    <input type="text" id="hi_test" placeholder="GladrisSociety">
    <span id="two">Line 2</span>
    <input type="text" id="input_req"name="" value="" required="required" placeholder="Emailaddress">
    <span id="three">Zip Code</span>
    <input style="width:90%" type="text" name="" value="" required="required" placeholder="9980769987">
    <span id="two">State</span><span id="four">City</span><br>
    <select class="state" name="">
      <option value="">Maharashtra</option>
      <option value="">Karnataka</option>
      <option value="">Goa</option>
    </select>
    <select class="city" name="">
      <option value="">Pune</option>
      <option value="">Mumbai</option>
      <option value="">Bangalore</option>
    </select>
    <br><br><br><br><br><br>
  </form>
</div>
</div>
