<div id="paid_popup">
  <h2>Enter Payment Details</h2>
  <hr class="new2">
  <form class="paid_form" action="" method="">
    <span id="one">Payment Method</span><span id="two">Amount</span><br>
    <select class="state" name="">
      <option value="">Select a Payment Method</option>
      <option value="">Maharashtra</option>
      <option value="">Karnataka</option>
      <option value="">Goa</option>
    </select>
    <input type="text" id="input_req"name="" value="" required="required" placeholder="">
    <br><span id="three">Payment Date</span><br>
    <input type="text" name="" value="" placeholder="Enter from date" onmouseover="(this.type='date')" onmouseout="(this.type='text')"><br><hr class="new2">
  <button type="submit" id="cancel" name="cancel">Cancel</button><button type="submit" id="add" name="button">Add</button>
  </form>
</div>
