<div class="service_popup">
  <div class="service_popup_title">
    <p>Choose Template</p>
  </div>
  <div class="service_popup_services">
    <div class="services_content">
      <p class="template_title">Template Title</p>
      <button id="select_button"type="button" name="button">&#10004;</button>
      <button id="cancel_button"type="button" name="button">X</button>
      <p>Service name</p>
      <p>Servces:</p>
      <div class="services_div">
      services_content
      </div>
    </div>
  </div>
  <div class="service_popup_footer">

  </div>
</div>
