<div id="add_client_popup" >
      <h3>New Owner /Tenant <button (click)="customerbuttonService.addclientclose()"type="button" id="close" name="button">Close</button></h3>
      <form class="add_client_form" action="" method="">
        <input type="text"id="hi_test"required="required">
        <label id="input_label_addclient_popup"for="required_input">Person name</label>
        <input type="text" id="required_input"name="" value="" required="required">
        <label id="input_label_addclient_popup"for="required_input">Mobile no</label>
        <input style="width:82%"type="text" name="" value="" required="required">
        <label id= "email_label" for="required_input">Email address</label>
        <br>
        <br>
        <input type="radio" name="owner_tenant" value="">
        <label for="" style="font-size:20px">Owner</label>
        <input type="radio" name="owner_tenant" value="">
        <label for="" style="font-size:20px">Tenant</label>
      </form>
      <br>
      <br>
      <br>
      <a href="#"id="hi_test">Add another contact</a>
      <button class="Next_button_popup"type="button" name="button">Next</button>
    </div>
