table {
  border-collapse: collapse;
  width:980px;
  margin-left: 330px;
}

th{
  text-align: left;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffff99;
}
td {
  text-align: center;
  padding: 12px;
  cursor: pointer;
}
#scroll{
  overflow: auto;
}
th span
{
    display:block;
}
#scroller{
  overflow: auto;
}
tr:nth-child(odd) {background-color: #fff;}
