<div id="edit_service_popup">
      <h2>Service:<div class="space"><button type="button" id="selectall" name="button">Select All</button></div></h2>
      <input type="text" name="" value="" placeholder="Search Service"><div id="search"><button type="button" name="button" id="find"><img src="C:\Users\Roshan Devadiga\Desktop\SpiderG\HTML\search.svg" alt=""></button></div>
      <div id="table-scroll">
      <form class="edit_service_form" action="" method="" style="background:#ebfaf6">
        <ul>
          <li>
            <h3 style="display:inline-block">12</h3><input type="radio" name="" value="" style="display:inline-block"><p>144</p>
          </li>
          <li>
            <h3>Ameenties</h3>
            <p>100</p>
          </li>
          <li>
            <h3>Jhjhjhjh</h3>
            <p>18818</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
          <li>
            <h3>jhjhjhj</h3>
            <p>43434</p>
          </li>
        </ul>
      </form>
    </div>
    <button (click)="serviceService.serviceclose()"class="cancel_button_popup" type="button" name="button">Cancel</button>
<button class="Save_button_popup"type="button" name="button">Save</button>
  </div>
