#add{
  font-family: Nimbus Sans;
  position: absolute;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  padding: 13px;
  font-size: 21px;
  background-color: #47D685;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
}
#add:hover{
  cursor: pointer;
  background-color:#28a745;
}
#import{
  /* position: absolute; */
  margin-top: 27px;
  margin-right: 0;
  color: #4384EC;
  padding: 13px;
  font-size: 20px;
  margin-left:170px;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
}
#import:hover{
  cursor: pointer;
}
